In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import json
import seaborn as sns
%matplotlib inline

# no prescreen

In [4]:
df1 = pd.read_csv('no_prescreening_raw/data_exp_8449-v8_task-i9un.csv', sep = ",") # high to low
df2 = pd.read_csv('no_prescreening_raw/data_exp_8449-v8_task-d74y.csv', sep = ",") # low to high

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#get rid of scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#replace all null and nan to the np.nan
df1 = df1.replace('null', np.nan)
df1 = df1.replace('nan', np.nan)
df2 = df2.replace('null', np.nan)
df2 = df2.replace('nan', np.nan)

#turn object into floats and round them and rename them
df1['end_time'] = round(df1['end_time'].astype(float))
df1['start_time'] = round(df1['start_time'].astype(float))
df1['builtin_rt'] = df1['builtin rt'].astype(float) #dont round up builtin reaction time
df1['quality_check'] = df1['rod fixing checked'].astype(float)
df1['id'] = df1['Participant Private ID']
df1['function_id'] = df1['function id']
df1['round_instance'] = df1['round instance']
df1['trial_index'] = df1['index']
df1['key_pressed'] = df1['key pressed']
df1['external_id'] = df1['Participant Public ID']
df1['date'] = df1['UTC Date']

df2['end_time'] = round(df2['end_time'].astype(float))
df2['start_time'] = round(df2['start_time'].astype(float))
#df2['builtin_rt'] = df2['builtin rt'].astype(float) #dont round up builtin reaction time
df2['quality_check'] = df2['rod fixing checked'].astype(float)
df2['id'] = df2['Participant Private ID']
df2['round_instance'] = df2['round_instance']
df2['function_id'] = df2['function id']
df2['trial_index'] = df2['index']
df2['key_pressed'] = df2['key pressed']
df2['external_id'] = df2['Participant Public ID']
df2['date'] = df1['UTC Date']

In [6]:
#select columns from df1 and df2
data1 = df1[['external_id', 'trial_index','id','price_displayed', 'key pressed','environment', 'order', 
           'round_instance', 'task', 'function_id', 'quality_check', 
           'builtin_rt', 'end_time', 'start_time', 'Participant Public ID', 'key_pressed', 'date']]
data2 = df2[['external_id', 'trial_index','id','price_displayed', 'key pressed','environment', 'order', 
           'round_instance', 'task', 'function_id', 'quality_check', 
           'builtin_rt', 'end_time', 'start_time', 'Participant Public ID', 'key_pressed', 'date']]

In [7]:
data = pd.concat([data1, data2])

In [9]:
data= data[(data.function_id == "rod_fixing")|(data.function_id == "fishing_l")|(data.function_id == "fishing_h")]

In [12]:
bonus = data.sort_values('date').groupby(["external_id","price_displayed", "function_id"]).size()
bonus = bonus.reset_index()
bonus.columns = ['id', 'price_displayed', 'factor', 'tap']
bonus = bonus.replace('fishing_h', 5/6000)
bonus = bonus.replace('fishing_l', 0.5/6000)
bonus = bonus.replace('rod_fixing', 0)
bonus.head(10)

                         id  price_displayed  factor  tap
0  55d5c5d9db6a810011fa0658            0.100   0.001  256
1  55d5c5d9db6a810011fa0658            0.100   0.000  274
2  55d5c5d9db6a810011fa0658            0.400   0.001  239
3  55d5c5d9db6a810011fa0658            0.400   0.000  243
4  55d5c5d9db6a810011fa0658            0.400   0.000   32
5  55d5c5d9db6a810011fa0658            1.000   0.001  269
6  55d5c5d9db6a810011fa0658            1.000   0.000  263
7  55d5c5d9db6a810011fa0658            1.000   0.000   16
8  55d5c5d9db6a810011fa0658            2.500   0.001  273
9  55d5c5d9db6a810011fa0658            2.500   0.000  238

In [14]:
bonus = bonus.round(20)
bonus['earning'] = bonus['price_displayed']*bonus['factor']*bonus['tap']
pay = bonus.groupby(['id'])['earning'].sum().reset_index()
pay['earning'] = np.ceil(pay['earning'])
pay['prolific'] = [','.join(i) for i in zip(pay["id"].map(str),pay["earning"].astype(str))]
pay
pay.to_csv('no_prescreen_prolific_bonus.csv', sep = ',', encoding='utf-8')

# Prescreen

In [15]:
df1 = pd.read_csv('apathy-prescreen_raw/data_exp_8835-v5_task-i9un.csv', sep = ",") # high to low
df2 = pd.read_csv('apathy-prescreen_raw/data_exp_8835-v5_task-d74y.csv', sep = ",") # low to high

In [16]:
#get rid of scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#replace all null and nan to the np.nan
df1 = df1.replace('null', np.nan)
df1 = df1.replace('nan', np.nan)
df2 = df2.replace('null', np.nan)
df2 = df2.replace('nan', np.nan)

#turn object into floats and round them and rename them
df1['end_time'] = round(df1['end_time'].astype(float))
df1['start_time'] = round(df1['start_time'].astype(float))
df1['builtin_rt'] = df1['builtin rt'].astype(float) #dont round up builtin reaction time
df1['quality_check'] = df1['rod fixing checked'].astype(float)
df1['id'] = df1['Participant Private ID']
df1['function_id'] = df1['function id']
df1['round_instance'] = df1['round instance']
df1['trial_index'] = df1['index']
df1['key_pressed'] = df1['key pressed']
df1['external_id'] = df1['Participant Public ID']
df1['date'] = df1['UTC Date']

df2['end_time'] = round(df2['end_time'].astype(float))
df2['start_time'] = round(df2['start_time'].astype(float))
#df2['builtin_rt'] = df2['builtin rt'].astype(float) #dont round up builtin reaction time
df2['quality_check'] = df2['rod fixing checked'].astype(float)
df2['id'] = df2['Participant Private ID']
df2['round_instance'] = df2['round_instance']
df2['function_id'] = df2['function id']
df2['trial_index'] = df2['index']
df2['key_pressed'] = df2['key pressed']
df2['external_id'] = df2['Participant Public ID']
df2['date'] = df1['UTC Date']

In [17]:
#select columns from df1 and df2
data1 = df1[['external_id', 'trial_index','id','price_displayed', 'key pressed','environment', 'order', 
           'round_instance', 'task', 'function_id', 'quality_check', 
           'builtin_rt', 'end_time', 'start_time', 'Participant Public ID', 'key_pressed', 'date']]
data2 = df2[['external_id', 'trial_index','id','price_displayed', 'key pressed','environment', 'order', 
           'round_instance', 'task', 'function_id', 'quality_check', 
           'builtin_rt', 'end_time', 'start_time', 'Participant Public ID', 'key_pressed', 'date']]

In [18]:
data = pd.concat([data1, data2])

In [19]:
data= data[(data.function_id == "rod_fixing")|(data.function_id == "fishing_l")|(data.function_id == "fishing_h")]

In [20]:
bonus = data.sort_values('date').groupby(["external_id","price_displayed", "function_id"]).size()
bonus = bonus.reset_index()
bonus.columns = ['id', 'price_displayed', 'factor', 'tap']
bonus = bonus.replace('fishing_h', 5/6000)
bonus = bonus.replace('fishing_l', 0.5/6000)
bonus = bonus.replace('rod_fixing', 0)
bonus.head(10)

                         id  price_displayed  factor  tap
0  54762f9efdf99b05557e04be            0.100   0.001  236
1  54762f9efdf99b05557e04be            0.100   0.000  263
2  54762f9efdf99b05557e04be            0.100   0.000   16
3  54762f9efdf99b05557e04be            0.400   0.001  301
4  54762f9efdf99b05557e04be            0.400   0.000  266
5  54762f9efdf99b05557e04be            1.000   0.001  281
6  54762f9efdf99b05557e04be            1.000   0.000  283
7  54762f9efdf99b05557e04be            1.000   0.000   32
8  54762f9efdf99b05557e04be            2.500   0.001  299
9  54762f9efdf99b05557e04be            2.500   0.000  287

In [22]:
bonus = bonus.round(20)
bonus['earning'] = bonus['price_displayed']*bonus['factor']*bonus['tap']
pay = bonus.groupby(['id'])['earning'].sum().reset_index()
pay['earning'] = np.ceil(pay['earning'])
pay['prolific'] = [','.join(i) for i in zip(pay["id"].map(str),pay["earning"].astype(str))]
pay
pay.to_csv('prescreen_prolific_bonus.csv', sep = ',', encoding='utf-8')

In [25]:
(pay.earning).describe()

count   20.000
mean     5.000
std      0.324
min      4.000
25%      5.000
50%      5.000
75%      5.000
max      6.000
Name: earning, dtype: float64